@import '../../../variables.scss';


.label {
  margin: 10px 0;
  color: $graphite;
}

.input {
  font-size: 20px;
  padding: 5px 15px;
  border-radius: 4px;
  border: 1px solid lightgrey;
  margin: 10px 0;
  width: 400px;
  color: $graphite;
  display: block;
}

.checkbox {
  display: inline;
  margin-right: 5px;
  width: inherit;
}